GROQ_API_KEY=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
GEMINI_API_KEY=AQ.Ab8RN6K2hI4kQbM0FA14SysazNt-yI66clB3_8qw54LY_tAvEw
VITE_SUPABASE_URL=https://qopnrckhbyvikykjbavo.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_r2F0g0s0ar-OgHg0E3Or3Q_RPfvwHCy